{
  "extends": "airbnb",
  "plugins": ["babel", "react", "node", "promise", "jsx-a11y", "import"],
  "parser": "babel-eslint",
  "rules": {
    "no-new": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "eol-last": "off"
  },
  "env": {
    "browser": true
  }
}
